body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
}
header {
    background-color: #b3e5fc;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
header img {
    height: 80px;
}
nav {
    flex-grow: 1;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.container {
    text-align: center;
    padding: 20px;
}
h1 {
    color: #00796b;
}
.opportunity-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    width: 80%;
}
.opportunity {
    display: flex;
    background-color: #b3e5fc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.opportunity img {
    width: 400px;
    height: 200px;
    background-color: #ddd;
    border-radius: 5px;
    margin-right: 20px;
}
.opportunity-content {
    text-align: left;
}
.opportunity-content h3 {
    margin: 0 0 10px 0;
    color: #01579b;
}
footer {
    background-color: #b3e5fc;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
}

footer img {
    width:20px;
    height:20px;
}
footer a {
    color: #00796b;
    text-decoration: none;
    font-weight: bold;
}